<div id="edit-student-modal" class="modal">
  <div class="modal-content">
    <label>Name</label><br>
    <div class="input-container">
      <i class="fas fa-user icon"></i>
      <input type="text" id="edit-student-name" placeholder="Student Name" class="input-field">
    </div>
    <label>Subject</label><br>
    <div class="input-container">
      <i class="fas fa-book icon"></i>
      <input type="text" id="edit-student-subject" placeholder="Subject" class="input-field">
    </div>
    <label>Marks</label><br>
    <div class="input-container">
      <i class="fas fa-percent icon"></i>
      <input type="number" id="edit-student-marks" placeholder="Marks" class="input-field">
    </div>
    <button id="update-student-btn" class="btn-save btn">Update</button>
  </div>
</div>
