
<div id="student-modal" class="modal">
  <div class="modal-content">
    <label>Name</label><br>
    <div class="input-container">
      <i class="fas fa-user icon"></i>
      <input type="text" id="student-name" placeholder="Student Name" class="input-field">
    </div>
    <span id="name-error" class="error-message"></span>

    <label>Subject</label><br>
    <div class="input-container">
      <i class="fas fa-book icon"></i>
      <input type="text" id="student-subject" placeholder="Subject" class="input-field">
    </div>
    <span id="subject-error" class="error-message"></span>

    <label>Marks</label><br>
    <div class="input-container">
      <i class="fas fa-percent icon"></i>
      <input type="number" id="student-marks" placeholder="Marks" class="input-field">
    </div>
    <span id="marks-error" class="error-message"></span>

    <button id="save-student-btn" class="btn-save btn">Save</button>
  </div>
</div>
